# set the section describing the in table and the section describeing the out table to match it
[run_comparisons]
node_floats_raw_1=eniq_floats_raw
node_floats_raw_2=eniq_floats_raw
node_floats_raw_3=eniq_floats_raw
eniq_floats_raw=eniq_floats_agg

[node_floats_raw_1]
# the table containing the node raw data
date = date_id
hour = hour_id
min = min_id

[node_floats_raw_2]
# the table containing the node raw data
date = date_id
hour = hour_id
min = min_id

[eniq_floats_raw]
# ENIQ Raw data
date = date_id
hour = hour_id
min = min_id


